.centerwhite {
    background-color: white;
    min-height: 700px;
    margin: auto;
    padding-top: 20%;

}

.login {
    margin : auto;
    width : 60%;
}

.background {
    background-color: rgba(218, 215, 205, 0.5);
    min-height: 900px;
}

.pageName {
    background-color: rgba(58, 90, 64, 0.5);
}

#navbar {
    background-color: rgba(163, 177, 138, 0.75);
    color: rgba(0, 0, 0, 0.7);
    padding-right: 50px;
}

.navitembtn {
    border: none;
    background-color: rgba(163, 177, 138, 0);
    color: rgba(0, 0, 0, 0.7);
    font-size: 20px;
    margin-right: 10px;
    font-weight: 500;
}

input {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.85);
    box-sizing: border-box;
    border-radius: 5px;
    margin-left: 25px;
}

.btn {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    background-color: #588157;
}

.footer {
    background-color: rgba(58, 90, 64, 0.5);
    font-size: 16px;
    width:89%;
    min-height: 40px;
    margin: auto;
}

